<div class="content">
  <h1>search, typehead</h1>
  <div class="row">
    <div class="col-md-3">
      <input class="form-control" type="text" />
      <div></div>
    </div>
  </div>
  <h1>bootstrap-datepicker event</h1>
  <div class="row">
    <div class="col-md-3">
      <div #daterange class="input-group input-daterange">
        <input #startdate class="form-control" type="text" />
        <div class="input-group-addon">TO</div>
        <input #enddate class="form-control" type="text" />
      </div>
    </div>
  </div>
</div>
